<ion-view view-title="{{myTitle}}">
    <ion-content class="sync">
        <div class="done">
            <img src="img/sync.png" alt="" ng-if="!sent" ng-class="{'animated': !sent}">
            <!-- <img src="img/sync.png" alt="" ng-class="{'animated': !synced}"> -->
            <img src="img/done.png" alt="" ng-if="done">
        </div>
        <div class="done-text" ng-if="done">
            <h2>Dados salvos com sucesso!</h2>
            <span>Receba sua foto por e-mail e compartilhe esse momento</span>
        </div>
        <div class="done-text" ng-if="!sent">
            <h2>Salvando...</h2>
        </div>
        <div class="success-buttons final" ng-if="done">
            <!-- <button class="button button-dark" ng-click="cancel()"> Cancelar </button> -->
            <button class="button button-positive" ng-click="save()"> Ok </button>
        </div>
    
        <div class="done-text" ng-if="erro">
            <h2>Não foi possível salvar!</h2>
        </div>
        <div class="success-buttons" ng-if="erro">
            <button class="button button-dark" ng-click="send()"> Tentar Novamente </button>
            <button class="button button-positive btn-right" ng-click="addSync()"> Enviar depois </button>
        </div>
    </ion-content>
</ion-view>
