<ion-view view-title="Sincronizar Dados">
    <ion-content class="sync">
        <div ng-if="showSync">
            <div class="done">
                <ion-spinner icon="android" ng-if="!synced"></ion-spinner>
                <!--                <img src="img/sync.png" alt="" ng-class="{'animated': !synced}" ng-if="!synced">-->
                <img src="img/done.png" alt="" ng-if="synced">
                    
                    </div>
            <div class="done-text" ng-if="synced">
                <h2>Todos os dados foram sincronizados!</h2>
            </div>
            <div class="success-buttons final" ng-if="synced">
                <button class="button button-dark" ng-click="cancel()"> Voltar </button>
                <!-- <button class="button button-positive btn-right" ng-click="sincronizar()"> Atualizar </button> -->
            </div>
            <div class="done-text" ng-if="erro">
                <h2>Não foi possível salvar!</h2>
            </div>
            <div class="success-buttons final" ng-if="erro">
                <button class="button button-positive" ng-click="cancel()"> Voltar </button>
            </div>
        </div>
        <div class="pgs-bar" id="pgrs"></div>
        <form ng-submit="doSync()" ng-if="!showSync">
            <div class="list login">
                <label class="item item-input">
                    <input type="password" ng-model="logar.senha" ng-required="true" placeholder="Digite a Senha">
                        </label>
                
                <button class="button button-positive  btn-small" type="submit">Ir</button>
            </div>
        </form>
        
    </ion-content>
</ion-view>
